.item {
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 20px 0px;
    padding: 10px;
    display: flex;
    margin: 10px 0px;
    align-items: center;
}
.info {
    width: 80%;
    height: 100%;
}
.name {
    margin: 10px 0px;
    margin-left: 10px;
}
.tag {
    margin-left: 10px;
}
.menu {
    width: 20%;
    display: flex;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}
.action {
    width: 100%;
    color: blue;
    cursor: pointer;
    margin: 10px;
}
.action:hover {
    color: #333 ;
}
