.textadd {
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
}
.form_item {
    margin: 10px 0px;
    width: 98%;
    margin-left: 1%;
}
.labal {
    width: 100%;
    display: block;
    font-weight: bold;
}
.input {
    border: none;
    color: #333;
    font-size: 16px;
    font-weight: normal;
    height: 100%;
    outline: none;
    padding: 0px 2px;
    margin: 10px 0px;
    width: 100%;
    box-sizing: border-box;
}
.button {
    height: 50px;
    width: 250px;
    margin-left:10px ;
    background: none;
    border: 0px;
    outline: none;
    background: #3b5998;
    color: aliceblue;
    border-radius: 10px;
}
@media only screen and (max-width: 539px) {
    .button  {
        width: calc(100% - 20px);
    }
}
@media only screen and (min-width: 540px) and (max-width: 719px) {
    /* Điện thoại màn hình lớn thua IPAD */
    .button  {
        width: calc(100% - 20px);
    }
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
    /* IPAD  */
    .button  {
        width: calc(100% - 20px);
    }
}
@media only screen and (min-width: 960px) and (max-width: 1139px) {
    /* IPAD Pro */
    
}
@media only screen and (min-width: 1140px) and (max-width: 1319px) {
    /* PC lớn hơn 1200px */
    
}
@media only screen and (min-width: 1320px) {
    /* PC lớn hơn 1320px */
}
